body{
    background-color: #FBEBD7; 
}

h1{
    text-align: center;
    color: 	#484848;
    font-family: "Times New Roman", Times, serif;
}

form { 
    margin: auto;
    width: 400px;
}


label {
    display: block;
    width: 10px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    color: 	#484848;
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    font-family: 'Rokkitt', serif;
}

ul {
    list-style: none;
}

.button{
  background-color: #FFBD58; 
  color: #FF9B39;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  box-shadow: none;
}